body {
     margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(160, 171, 173);
    background: linear-gradient(90deg, rgba(160, 171, 173, 1) 8%, rgba(255, 255, 255, 1) 39%);

}

nav {
    display: flex;
    height: 90px;

    background: rgb(93, 114, 118);
    background: linear-gradient(90deg, rgba(93, 114, 118, 1) 38%, rgba(217, 217, 235, 1) 82%);
}

#brand {

    width: 35%;
    font-size: 1.4rem;
    color: rgb(50, 50, 51);
    font-weight: bold;
    cursor: pointer;
    margin: 20px 5px 10px 20px;

}

span#one {
    color: crimson;
    font-size: 30px;
}

ul {
    
    width: 40%;
}

nav ul li {
    cursor: pointer;

    font-size: 20px;
    margin-top: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;

}

.cta {
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 6px;

    background-color: rgb(185, 1, 1);
    border: none;
    color: #fff;
}

section button {

    background-color: transparent;
    border: none;
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 0px;
}

section button:hover {
    text-decoration: underline;
}


.row {

    height: 600px;
    display: flex;
    flex-direction: row;

}
.col1 {
    width: 30%;


}
section {

    width: 100%;
    margin-top: 40%;

}
section>p {
    color: #890000;
    width: 100%;
    text-align: left;
    margin-left: 54px;
    margin-top: 0;
    line-height: 23px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 10px;
}

h1 span {
    color: crimson;
    font-size: 50px;
}

.col2 {

    width: 35%;
}

.col3 {

    width: 35%;
}

.img1 {

    width: 54%;
    height: 55%;
    margin: 101px 0px 10px 149px;
    padding: 30px
}

.img2 {
    width: 80%;
    height: 77%;
    margin: 48px 30px 10px 0px;
    padding: 30px;
}

@media screen and (max-width: 900px) {

    nav ul,
    nav button {
        display: none;
    }

    #brand {

        font-size: 1rem;
        color: rgb(50, 50, 51);
        font-weight: bold;
        cursor: pointer;
        margin: 20px 5px 10px 20px;
    }

    span#one {
        color: crimson;
        font-size: 20px;
    }

    .row {
        display: block;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 20px;
        text-align: center;
    }

    h1 span {
        color: crimson;
        font-size: 30px;
    }

    section {
        margin-top: 0%;
    }

    .row {
        display: block;
        
    }

    .col1 {
        width: 100%;

    }

    .col2 {
        text-align: center;
        width: 100%;
    }

    .img1 {
        margin-left: 0%;
        margin-top: 0%;
        width: 40%;
        height: 40%;
    }

    .col3 {
        text-align: center;
        width: 100%;

    }

    .img2 {
        margin-top: 0%;
        width: 60%;
        height: 60%;
    }

}